/ABOUT-NLS
/doc/portal-docs.html
/doc/portal-docs.xml
/doc/portal-org.freedesktop.*.xml
/doc/org.freedesktop.portal.*.xml
/po/*.gmo
/po/*.header
/po/*.pot
/po/*.po~
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/boldquot.sed
/po/insert-header.sin
/po/remove-potcdate.sed
/po/remove-potcdate.sin
/po/stamp-po
/po/*.gmo
/po/*.header
/po/*.pot
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/boldquot.sed
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sed
/po/remove-potcdate.sin
/po/stamp-po
/xdg-desktop-portal-[0-9]*.tar.*
/xdg-desktop-portal-[0-9]*/
INSTALL
Makefile
Makefile.in
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4
!m4/glibtests.m4
missing
stamp-h1
.deps
*.o
aclocal.m4
autom4te.cache
compile
*.service
xdg-desktop-portal
xdg-document-portal
xdg-permission-store
xdp-dbus.[ch]
xdp-impl-dbus.[ch]
xdg-desktop-portal.pc
.dirstamp
xdg-desktop-resources.c
document-portal-dbus.c
document-portal-dbus.h
permission-store-dbus.c
permission-store-dbus.h
geoclue-dbus.c
geoclue-dbus.h
testdb
/dbus-session-bus-*
/test-doc-portal
/test-portals
/test-xdp-utils
/test-permission-store
/tests/test-backends
test-driver
*.trs
*.log
/session.conf