INSTALL
Makefile
Makefile.in
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
.deps
*.o
aclocal.m4
autom4te.cache
compile
*.service
xdg-desktop-portal
xdp-dbus.[ch]
xdg-desktop-portal.pc
.dirstamp
xdg-desktop-resources.c
