body {
  font-family: sans-serif;
  max-width: 850px;
  margin: auto;
  overflow-wrap: break-word;
}
html {
  background-color: #fafafa;
}
h1.title {
}
.permission {
  color: #ee0000;
  text-decoration: underline;
}
.synopsis,
.classsynopsis {
  background: #eeeeee;
}
.programlisting {
  background: #eeeeff;
}
.synopsis,
.classsynopsis,
.programlisting {
  padding: 1em;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03),
              0 1px 3px 1px rgba(0, 0, 0, .07),
              0 2px 6px 2px rgba(0, 0, 0, .03);
  overflow: auto;
  border-radius: 12px;
}
div.variablelist {
  padding: 4px;
  margin-left: 1em;
}
dl.variablelist td:first-child {
  vertical-align: top;
}
td.shortcuts {
  color: #770000;
  font-size: 80%;
}
div.refnamediv {
  margin-top: 2em;
}
div.toc {
  border: 2em;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #ff0000;
}

div.table table {
  border-collapse: collapse;
  border-spacing: 0px;
  border-style: solid;
  border-color: #777777;
  border-width: 1px;
}

div.table table td,
div.table table th {
  border-style: solid;
  border-color: #777777;
  border-width: 1px;
  padding: 3px;
  vertical-align: top;
}

div.table table th {
  background-color: #eeeeee;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #242424;
    color: white;
  }

  a {
    color: #8886fa;
  }

  a:hover {
    color: #5a57fa;
  }

  .synopsis,
  .classsynopsis,
  .programlisting {
    background: rgba(255, 255, 255, .08);
  }
}

@media only screen and (max-width: 900px) {
    .book {
        margin: 1rem;
        font-size: 90%
    }
}
